*{
    margin: 0;
    padding: 0;
}
.confirmStyle{
    display: flex;
    justify-content:space-between;
    border: 1px solid gray;
    margin: 10px auto;
    text-align: center;
    align-items: center;
    margin-left: 20px;
    box-sizing: border-box;
    padding: 5px;
}
.confirmPart{
   margin: 0 5px; 
}
.confirmBtn{
    /* margin-top: 20px; */
}